## Desafío 2: Sets

Hay mucho que aprender sobre Python Sets y la información presentada en la lección es limitada debido a su longitud. Para aprender Python Sets en profundidad se recomienda encarecidamente revisar el tutorial de W3Schools sobre [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) antes de trabajar en este laboratorio. Algunas preguntas difíciles de este laboratorio tienen su solución en el tutorial de W3Schools.

#### Primero, importa la librería `random` de Python.

In [1]:
import random

#### En la celda de abajo, cree una lista llamada `lista_de_muestra_1` con 80 valores aleatorios. 

Requisitos:

* Cada valor es un entero comprendido entre 0 y 100.
* Cada valor de la lista es único.

Imprima `lista_de_muestras_1` para revisar sus valores

*Pista: use `random.sample` ([referencia](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here
lista_de_muestra_1 = random.sample(range(0, 100), 80)
print(lista_de_muestra_1)

[83, 82, 78, 94, 28, 59, 30, 65, 86, 18, 77, 49, 21, 4, 14, 90, 43, 53, 27, 89, 93, 50, 64, 76, 40, 35, 69, 23, 42, 73, 22, 96, 13, 34, 36, 84, 37, 87, 47, 1, 67, 31, 32, 5, 3, 88, 9, 38, 74, 24, 85, 6, 48, 25, 51, 72, 44, 11, 46, 16, 15, 19, 56, 70, 95, 97, 29, 98, 92, 75, 12, 45, 10, 52, 7, 81, 57, 91, 62, 63]

In [10]:
# Compruebo que no esten repetidos
for i in lista_de_muestra_1:
    N_veces = lista_de_muestra_1.count(i)
    print(i, "esta", N_veces, "veces en lista_de_muestra_1")

83 esta 1 veces en lista_de_muestra_1
82 esta 1 veces en lista_de_muestra_1
78 esta 1 veces en lista_de_muestra_1
94 esta 1 veces en lista_de_muestra_1
28 esta 1 veces en lista_de_muestra_1
59 esta 1 veces en lista_de_muestra_1
30 esta 1 veces en lista_de_muestra_1
65 esta 1 veces en lista_de_muestra_1
86 esta 1 veces en lista_de_muestra_1
18 esta 1 veces en lista_de_muestra_1
77 esta 1 veces en lista_de_muestra_1
49 esta 1 veces en lista_de_muestra_1
21 esta 1 veces en lista_de_muestra_1
4 esta 1 veces en lista_de_muestra_1
14 esta 1 veces en lista_de_muestra_1
90 esta 1 veces en lista_de_muestra_1
43 esta 1 veces en lista_de_muestra_1
53 esta 1 veces en lista_de_muestra_1
27 esta 1 veces en lista_de_muestra_1
89 esta 1 veces en lista_de_muestra_1
93 esta 1 veces en lista_de_muestra_1
50 esta 1 veces en lista_de_muestra_1
64 esta 1 veces en lista_de_muestra_1
76 esta 1 veces en lista_de_muestra_1
40 esta 1 veces en lista_de_muestra_1
35 esta 1 veces en lista_de_muestra_1
69 esta 1 veces en lista_de_muestra_1
23 esta 1 veces en lista_de_muestra_1
42 esta 1 veces en lista_de_muestra_1
73 esta 1 veces en lista_de_muestra_1
22 esta 1 veces en lista_de_muestra_1
96 esta 1 veces en lista_de_muestra_1
13 esta 1 veces en lista_de_muestra_1
34 esta 1 veces en lista_de_muestra_1
36 esta 1 veces en lista_de_muestra_1
84 esta 1 veces en lista_de_muestra_1
37 esta 1 veces en lista_de_muestra_1
87 esta 1 veces en lista_de_muestra_1
47 esta 1 veces en lista_de_muestra_1
1 esta 1 veces en lista_de_muestra_1
67 esta 1 veces en lista_de_muestra_1
31 esta 1 veces en lista_de_muestra_1
32 esta 1 veces en lista_de_muestra_1
5 esta 1 veces en lista_de_muestra_1
3 esta 1 veces en lista_de_muestra_1
88 esta 1 veces en lista_de_muestra_1
9 esta 1 veces en lista_de_muestra_1
38 esta 1 veces en lista_de_muestra_1
74 esta 1 veces en lista_de_muestra_1
24 esta 1 veces en lista_de_muestra_1
85 esta 1 veces en lista_de_muestra_1
6 esta 1 veces en lista_de_muestra_1
48 esta 1 veces en lista_de_muestra_1
25 esta 1 veces en lista_de_muestra_1
51 esta 1 veces en lista_de_muestra_1
72 esta 1 veces en lista_de_muestra_1
44 esta 1 veces en lista_de_muestra_1
11 esta 1 veces en lista_de_muestra_1
46 esta 1 veces en lista_de_muestra_1
16 esta 1 veces en lista_de_muestra_1
15 esta 1 veces en lista_de_muestra_1
19 esta 1 veces en lista_de_muestra_1
56 esta 1 veces en lista_de_muestra_1
70 esta 1 veces en lista_de_muestra_1
95 esta 1 veces en lista_de_muestra_1
97 esta 1 veces en lista_de_muestra_1
29 esta 1 veces en lista_de_muestra_1
98 esta 1 veces en lista_de_muestra_1
92 esta 1 veces en lista_de_muestra_1
75 esta 1 veces en lista_de_muestra_1
12 esta 1 veces en lista_de_muestra_1
45 esta 1 veces en lista_de_muestra_1
10 esta 1 veces en lista_de_muestra_1
52 esta 1 veces en lista_de_muestra_1
7 esta 1 veces en lista_de_muestra_1
81 esta 1 veces en lista_de_muestra_1
57 esta 1 veces en lista_de_muestra_1
91 esta 1 veces en lista_de_muestra_1
62 esta 1 veces en lista_de_muestra_1
63 esta 1 veces en lista_de_muestra_1

#### Convierte `lista_muestra_1` en un conjunto llamado `set1`. Imprime la longitud del conjunto. ¿Sigue siendo 80?

In [7]:
# Your code here
set1 = set(lista_de_muestra_1)
print(len(set1))

80

#### Crear otra lista llamada `lista_de_muestra_2` con 80 valores aleatorios.

Requisitos:

* Cada valor es un entero comprendido entre 0 y 100.
* Los valores de la lista no tienen que ser únicos.

*Sugerencia: Use un bucle FOR.*

In [9]:
# Your code here
lista_de_muestra_2 = [random.randint(0,100) for _ in range(80)]
print(lista_de_muestra_2)

[42, 71, 49, 23, 87, 98, 89, 75, 65, 16, 12, 50, 44, 10, 11, 27, 17, 18, 60, 8, 94, 71, 50, 80, 7, 24, 95, 9, 6, 45, 20, 85, 6, 50, 12, 52, 87, 58, 12, 31, 61, 10, 28, 21, 63, 30, 83, 21, 36, 8, 10, 72, 63, 16, 22, 77, 6, 85, 13, 79, 35, 25, 1, 31, 36, 57, 45, 56, 67, 51, 70, 55, 88, 28, 55, 4, 99, 6, 0, 0]

In [11]:
# Compruebo que no sean únicos
for i in lista_de_muestra_2:
    N_veces = lista_de_muestra_2.count(i)
    print(i, "esta", N_veces, "veces en lista_de_muestra_2")

42 esta 1 veces en lista_de_muestra_2
71 esta 2 veces en lista_de_muestra_2
49 esta 1 veces en lista_de_muestra_2
23 esta 1 veces en lista_de_muestra_2
87 esta 2 veces en lista_de_muestra_2
98 esta 1 veces en lista_de_muestra_2
89 esta 1 veces en lista_de_muestra_2
75 esta 1 veces en lista_de_muestra_2
65 esta 1 veces en lista_de_muestra_2
16 esta 2 veces en lista_de_muestra_2
12 esta 3 veces en lista_de_muestra_2
50 esta 3 veces en lista_de_muestra_2
44 esta 1 veces en lista_de_muestra_2
10 esta 3 veces en lista_de_muestra_2
11 esta 1 veces en lista_de_muestra_2
27 esta 1 veces en lista_de_muestra_2
17 esta 1 veces en lista_de_muestra_2
18 esta 1 veces en lista_de_muestra_2
60 esta 1 veces en lista_de_muestra_2
8 esta 2 veces en lista_de_muestra_2
94 esta 1 veces en lista_de_muestra_2
71 esta 2 veces en lista_de_muestra_2
50 esta 3 veces en lista_de_muestra_2
80 esta 1 veces en lista_de_muestra_2
7 esta 1 veces en lista_de_muestra_2
24 esta 1 veces en lista_de_muestra_2
95 esta 1 veces en lista_de_muestra_2
9 esta 1 veces en lista_de_muestra_2
6 esta 4 veces en lista_de_muestra_2
45 esta 2 veces en lista_de_muestra_2
20 esta 1 veces en lista_de_muestra_2
85 esta 2 veces en lista_de_muestra_2
6 esta 4 veces en lista_de_muestra_2
50 esta 3 veces en lista_de_muestra_2
12 esta 3 veces en lista_de_muestra_2
52 esta 1 veces en lista_de_muestra_2
87 esta 2 veces en lista_de_muestra_2
58 esta 1 veces en lista_de_muestra_2
12 esta 3 veces en lista_de_muestra_2
31 esta 2 veces en lista_de_muestra_2
61 esta 1 veces en lista_de_muestra_2
10 esta 3 veces en lista_de_muestra_2
28 esta 2 veces en lista_de_muestra_2
21 esta 2 veces en lista_de_muestra_2
63 esta 2 veces en lista_de_muestra_2
30 esta 1 veces en lista_de_muestra_2
83 esta 1 veces en lista_de_muestra_2
21 esta 2 veces en lista_de_muestra_2
36 esta 2 veces en lista_de_muestra_2
8 esta 2 veces en lista_de_muestra_2
10 esta 3 veces en lista_de_muestra_2
72 esta 1 veces en lista_de_muestra_2
63 esta 2 veces en lista_de_muestra_2
16 esta 2 veces en lista_de_muestra_2
22 esta 1 veces en lista_de_muestra_2
77 esta 1 veces en lista_de_muestra_2
6 esta 4 veces en lista_de_muestra_2
85 esta 2 veces en lista_de_muestra_2
13 esta 1 veces en lista_de_muestra_2
79 esta 1 veces en lista_de_muestra_2
35 esta 1 veces en lista_de_muestra_2
25 esta 1 veces en lista_de_muestra_2
1 esta 1 veces en lista_de_muestra_2
31 esta 2 veces en lista_de_muestra_2
36 esta 2 veces en lista_de_muestra_2
57 esta 1 veces en lista_de_muestra_2
45 esta 2 veces en lista_de_muestra_2
56 esta 1 veces en lista_de_muestra_2
67 esta 1 veces en lista_de_muestra_2
51 esta 1 veces en lista_de_muestra_2
70 esta 1 veces en lista_de_muestra_2
55 esta 2 veces en lista_de_muestra_2
88 esta 1 veces en lista_de_muestra_2
28 esta 2 veces en lista_de_muestra_2
55 esta 2 veces en lista_de_muestra_2
4 esta 1 veces en lista_de_muestra_2
99 esta 1 veces en lista_de_muestra_2
6 esta 4 veces en lista_de_muestra_2
0 esta 2 veces en lista_de_muestra_2
0 esta 2 veces en lista_de_muestra_2

#### Convierte `lista_muestra_2` en un conjunto llamado `conjunto2`. Imprime la longitud del conjunto. ¿Sigue siendo 80?

In [12]:
# Your code here
set2 = set(lista_de_muestra_2)
print(len(set2))

58

In [ ]:
# La longitud de set2 no es 80 como en la lista. Esto se debe a que los sets están formados por valores únicos, por lo que al pasar la lista a un set elimina los elementos repetidos.

#### Identificar los elementos presentes en el `set1` pero no en el `set2`. Asigna los elementos a un nuevo conjunto llamado `set3`.

In [18]:
# Your code here
set5 = set1.intersection(set2)
set3 = set1 - set5
print(set3)

{3, 5, 14, 15, 19, 29, 32, 34, 37, 38, 40, 43, 46, 47, 48, 53, 59, 62, 64, 69, 73, 74, 76, 78, 81, 82, 84, 86, 90, 91, 92, 93, 96, 97}

#### Identificar los elementos presentes en el `set2` pero no en el `set1`. Asigna los elementos a un nuevo conjunto llamado `set4`.

In [14]:
# Your code here
set5 = set1.intersection(set2)
set4 = set2 - set5
print(set4)

{0, 99, 71, 8, 79, 80, 17, 20, 55, 58, 60, 61}

#### Identifica ahora los elementos compartidos entre `set1` y `set2`. Asigna los elementos a un nuevo conjunto llamado `set5`.

In [15]:
# Your code here
print(set5)

{1, 4, 6, 7, 9, 10, 11, 12, 13, 16, 18, 21, 22, 23, 24, 25, 27, 28, 30, 31, 35, 36, 42, 44, 45, 49, 50, 51, 52, 56, 57, 63, 65, 67, 70, 72, 75, 77, 83, 85, 87, 88, 89, 94, 95, 98}

#### ¿Cuál es la relación entre los siguientes valores:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Utiliza una fórmula matemática para representar esa relación. Prueba tu fórmula con código Python.

In [20]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
58
34
12
46

In [21]:
# Your code here
len(set3) + len(set4) + len(set5) == len(set1) + len(set2) - len(set5)

True

#### Crear un conjunto vacío llamado `set6`.

In [22]:
# Your code here
set6 = set()

#### Añade `set3` y `set5` a `set6` usando el método `update` de Python Set.

In [23]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Comprueba si `set1` y `set6` son iguales.

In [24]:
# Your code here
set1 == set6

True

#### Comprueba si `set1` contiene `set2` usando el método `issubset` de Python Set. Luego comprueba si `set1` contiene `set3`.*

In [25]:
# Your code here
set2.issubset(set1)

False

#### Usando el método `union` de Python, agrega `set3`, `set4`, y `set5`. Luego agrega `set1` y `set2`. 

#### Comprueba si los valores agregados son iguales.

In [27]:
# Your code here
union_sets1 = set3.union(set4)
union_sets1 = set5.union(union_sets1)
union_sets2 = set1.union(set2)
union_sets1 == union_sets2

True

#### Utilizando el método `pop`, elimina el primer elemento de `set1`.

In [28]:
print(set1)

{1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 59, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

In [30]:
# Your code here
set1 = list(set1)
set1.pop(0)

1

In [33]:
set1 = set(set1)
print(set1)

{3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 59, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Elimina cada elemento de la siguiente lista del `set1` si están presentes en el set. Imprime los elementos restantes.

```
lista_a_eliminar = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [38]:
# Your code here
lista_a_eliminar = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

lista_a_eliminar = [elemento for elemento in lista_a_eliminar if elemento not in set1]

print(lista_a_eliminar)

[1, 39, 41, 61, 71, 79, 99]