## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1 = random.sample(range(0, 101), 80)
print (sample_list_1)

[98, 52, 41, 11, 74, 82, 5, 75, 84, 39, 55, 33, 50, 27, 97, 93, 83, 48, 80, 87, 45, 14, 91, 12, 59, 72, 8, 79, 9, 6, 49, 58, 73, 68, 17, 18, 66, 42, 28, 13, 1, 35, 34, 100, 88, 63, 92, 71, 78, 15, 99, 76, 31, 56, 4, 85, 21, 44, 32, 54, 47, 0, 36, 65, 70, 43, 53, 90, 62, 89, 29, 67, 30, 69, 38, 60, 22, 19, 25, 77]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
print (len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
sample_list_2 = []
for i in range(80):
    i = random.randint(0,100)
    sample_list_2.append(i)
print(sample_list_2)

[98, 60, 67, 57, 80, 55, 3, 83, 84, 86, 30, 0, 28, 31, 5, 73, 30, 53, 91, 88, 53, 92, 26, 3, 77, 49, 66, 67, 20, 55, 81, 96, 24, 41, 48, 95, 33, 37, 5, 14, 18, 39, 94, 93, 40, 77, 30, 17, 91, 74, 8, 35, 1, 52, 41, 21, 54, 84, 61, 46, 14, 61, 32, 7, 51, 75, 70, 51, 71, 7, 66, 20, 88, 44, 40, 68, 79, 98, 31, 96]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

# la longitud del set cambia, dado que en la lista previa, hay números que se repiten, y al cambiarlo a un set,
# aquellos elementos repetidos se eliminan, por lo que sólo quedan en el set los elementos originale

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{4, 6, 9, 11, 12, 13, 15, 19, 22, 25, 27, 29, 34, 36, 38, 42, 43, 45, 47, 50, 56, 58, 59, 62, 63, 65, 69, 72, 76, 78, 82, 85, 87, 89, 90, 97, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{96, 3, 37, 7, 40, 46, 81, 51, 20, 86, 24, 57, 26, 61, 94, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 5, 8, 14, 17, 18, 21, 28, 30, 31, 32, 33, 35, 39, 41, 44, 48, 49, 52, 53, 54, 55, 60, 66, 67, 68, 70, 71, 73, 74, 75, 77, 79, 80, 83, 84, 88, 91, 92, 93, 98}


#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
58
38
16
42

#### Create an empty set called `set6`.

In [12]:
# Your code here
set6 = ()

Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here
set6 = set()
set6.update(set3, set5)
print(set6)

{0, 1, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 21, 22, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 50, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [14]:
# Your code here
print(len(set1))
print(len(set6))

80
80

Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [15]:
# Your code here
if set2.issubset(set1):
    print('set1 contains set2')
    
if set3.issubset(set1):
    print('set1 contains set3')

set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
set_345 = set3.union(set4, set5)
set_12 = set1.union(set2)
if set_345 == set_12:
    print('they are equal')
else:
    print('not equal')

they are equal

#### Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
set1 = list(set1)
set1.pop(0)

[2, 3, 5, 6, 7, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 72, 73, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 100]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [66]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

[2, 3, 5, 6, 7, 12, 13, 16, 17, 20, 22, 23, 24, 25, 27, 30, 32, 33, 34, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 55, 56, 58, 60, 62, 63, 66, 67, 68, 73, 75, 77, 78, 80, 82, 83, 84, 86, 87, 90, 93, 94, 95, 96, 97, 100]