## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [76]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [77]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print('List:',sample_list_1)
set1 = set(sample_list_1)
print('\nSet:', set1)
print('\nSon:',len(set1))

List: [5, 87, 93, 32, 95, 55, 6, 92, 44, 89, 59, 88, 51, 58, 21, 50, 80, 71, 17, 54, 46, 90, 12, 78, 8, 68, 72, 98, 26, 41, 74, 65, 11, 64, 14, 24, 67, 39, 86, 33, 0, 62, 16, 49, 23, 94, 15, 28, 42, 53, 37, 82, 3, 31, 1, 56, 83, 36, 40, 7, 91, 70, 60, 61, 25, 35, 9, 18, 97, 19, 45, 85, 79, 81, 43, 47, 66, 38, 29, 13]

Set: {0, 1, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 23, 24, 25, 26, 28, 29, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 74, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98}

Son: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [78]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print('List:',sample_list_1)
set1 = set(sample_list_1)
print('\nSet:', set1)
print('\nSon:',len(set1))

List: [9, 7, 8, 18, 55, 4, 57, 44, 30, 94, 19, 48, 41, 89, 38, 97, 87, 20, 96, 93, 29, 54, 26, 71, 34, 16, 77, 64, 27, 63, 90, 50, 51, 0, 92, 13, 65, 12, 99, 14, 70, 11, 74, 39, 60, 1, 88, 81, 2, 40, 22, 45, 49, 91, 10, 25, 58, 15, 67, 37, 73, 59, 98, 80, 84, 46, 85, 21, 31, 72, 32, 82, 56, 47, 36, 5, 33, 76, 69, 35]

Set: {0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 76, 77, 80, 81, 82, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

Son: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [79]:
# Your code here
sample_list_2 = [random.randint(0, 100) for i in range(80)]
print(sample_list_2)

[50, 31, 42, 86, 19, 32, 42, 26, 61, 77, 34, 44, 17, 9, 45, 83, 48, 18, 7, 28, 20, 61, 14, 46, 42, 51, 65, 44, 47, 53, 97, 41, 41, 59, 8, 68, 34, 77, 45, 30, 56, 47, 3, 60, 7, 94, 79, 51, 95, 47, 78, 66, 87, 94, 32, 43, 60, 46, 68, 40, 55, 97, 14, 50, 20, 98, 9, 4, 58, 76, 49, 67, 57, 86, 12, 75, 21, 94, 58, 5]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [80]:
# Your code here
set2 = set(sample_list_2)
print(set2 ,'\nThe length of set2 is: ',len(set2),'/80')

{3, 4, 5, 7, 8, 9, 12, 14, 17, 18, 19, 20, 21, 26, 28, 30, 31, 32, 34, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 65, 66, 67, 68, 75, 76, 77, 78, 79, 83, 86, 87, 94, 95, 97, 98}
The length of set2 is:  55 /80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [94]:
# Your code here
set3 = set()
for i in set1: 
    if i not in set2:
        set3.add(i)
    else: 
        None
print(set3)

{2, 10, 13, 15, 16, 22, 25, 27, 33, 35, 36, 37, 38, 54, 63, 64, 70, 72, 73, 74, 80, 82, 84, 85, 88, 90, 92, 93, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [82]:
# Your code here
set4 = set()
for i in set2: 
    if i not in set1:
        set4.add(i)
    else: 
        None
print(set4)

{66, 3, 68, 42, 43, 75, 78, 79, 17, 83, 53, 86, 28, 61, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [83]:
# Your code here
set5 = set()
for i in set1: 
    if i in set2:
        set5.add(i)
    else: 
        None
print(set5)

{4, 5, 7, 8, 9, 12, 14, 18, 19, 20, 21, 26, 30, 31, 32, 34, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 55, 56, 57, 58, 59, 60, 65, 67, 76, 77, 87, 94, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [84]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [85]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 76, 77, 80, 81, 82, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [86]:
# Your code here
if set1.issubset(set6): 
    print('se1t == set6')
else: 
    print('set1 != set6')

se1t == set6

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [96]:
# Your code here
if set1.issubset(set2): 
    print('se1t contains set2')
else: 
    print('set1 not contains set2')

if set1.issubset(set3): 
    print('se1t contains set3')
else: 
    print('set1 not contains set3')

set1 not contains set2
set1 not contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [88]:
# Your code here
union_sets_1 = set3.union(set4,set5)
print(union_sets_1)
union_sets_2 = set1.union(set2)
print(union_sets_2)
if union_sets_1.issubset(union_sets_2):
    print('The values are equal')
else: 
    print("The values aren't equal")

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
The values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [89]:
# Your code here
set1.pop()
print(set1)

{1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 76, 77, 80, 81, 82, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [92]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
for i in list_to_remove:
    if i in set1:
        set1.discard(i)

        
print('\n',set1)

{2, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 44, 45, 46, 47, 48, 50, 54, 55, 56, 57, 58, 60, 63, 64, 65, 67, 70, 72, 73, 74, 76, 77, 80, 82, 84, 85, 87, 88, 90, 92, 93, 94, 96, 97, 98}

 {2, 4, 5, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 44, 45, 46, 47, 48, 50, 54, 55, 56, 57, 58, 60, 63, 64, 65, 67, 70, 72, 73, 74, 76, 77, 80, 82, 84, 85, 87, 88, 90, 92, 93, 94, 96, 97, 98}